{:deps   {:aliases [:dev]}
 :builds {:app {:target      :browser
                :modules     {:main {:init-fn nextjournal.offworld.demo.main/main}}
                :output-dir  "resources/public/js"
                :build-hooks [(shadow.cljs.build-report/hook {:output-to "report.html"})]}}}
